<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turistattraktioner</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<table>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>By</th>
        <th>Handlinger</th>
    </tr>
    <tr th:each="attraktion : ${attractions}">
        <td th:text="${attraktion.name}">Navn</td>
        <td th:text="${attraktion.description}">Beskrivelse</td>
        <td th:text="${attraktion.city}">By</td>
        <td>
            <a th:href="@{'/attractions/' + ${attraktion.name} + '/edit'}">Opdater</a>
            <form th:action="@{'/attractions/delete/' + ${attraktion.name}}" method="post">
                <input type="submit" value="Slet" />
            </form>
        </td>
    </tr>
</table>

<a th:href="@{/attractions/add}">Tilføj attraktion</a>

</body>
</html>
